.stat
{
    stroke: #ecf0f1;
    stroke-width: 10;
    fill: transparent;
}
.num
{
    font-size: 45px;
    fill:  #576574;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
.load
{        
    fill-opacity: 0;
    stroke-width: 10;
    stroke-dasharray: 628;
    stroke-linecap: round;          
}
#load1{
    stroke: #e74c3c;
    stroke-dashoffset: 477.28;
}
#load2{
    stroke: #2ecc71;
    stroke-dashoffset: 219.8;
}
#load3{
    stroke: #f1c40f;
    stroke-dashoffset: 558.92;
}
.cardPer{
    height: 450px;
    width: 315px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.10);    
}
.general{
    border-radius: 5px;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.10);  
    font-family: 'Roboto', sans-serif;
    color: #576574;    
}
.textCards {
    font-family: 'Roboto', sans-serif;
    color: #576574;
    font-size: 25px;
}
.table{
    background-color: white;
}
.feature{
    border-radius: 5px;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.10);  

}


